In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

## Ques 1

Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:

1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [2]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\VAIO\Downloads\chromedriver.exe')

In [3]:
url = "https://www.naukri.com"
driver.get(url)

In [4]:
# finding element for job search bar
search_job = driver.find_element(By.CLASS_NAME,'suggestor-input')
search_job

In [5]:
# write on search bar
search_job.send_keys('Data Analyst')

In [6]:
# finding element for job location bar
search_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_loc.send_keys("Bangalore")

In [7]:
search_btn= driver.find_element(By.CLASS_NAME, "qsbSubmit")
search_btn.click()

In [8]:
#so let's extract all the tags having the job titles
title_tags=driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_tags:
    print(i.get_attribute('text'))

Data Analyst
APRP Manager / Senior Data Analyst - MeritTrac Services
Sr Data Analyst
Senior Data Management Analyst
Senior Data Analyst - PLM Data Migration
People Data Analyst
Associate Healthcare Research & Data Analyst
Lead Data Analyst
Contractual Hiring For Top MNC || Business Data Analyst || Bangalore

Master Data Management Business Analyst
Data Analyst
Sr. Data Analyst (SAS Data Management)
Data Analyst
Analyst, Data Science
Data Analyst
Data Analyst 2
Senior Data Analyst
Sr Data Analyst
Data Analyst - FinTech
data analyst / data analytics - US MNC (analytics)

In [9]:
# extract the text of the job title  from the tags
job_titles=[]
for i in title_tags:
    if i.text is None:
        job_titles.append('Not')
    else:
        job_titles.append(i.text)
job_titles[:10]

['Data Analyst',
 'APRP Manager / Senior Data Analyst - MeritTrac Services',
 'Sr Data Analyst',
 'Senior Data Management Analyst',
 'Senior Data Analyst - PLM Data Migration',
 'People Data Analyst',
 'Associate Healthcare Research & Data Analyst',
 'Lead Data Analyst',
 'Contractual Hiring For Top MNC || Business Data Analyst || Bangalore',
 'Master Data Management Business Analyst']

In [10]:
# lets extract all the tags having company names
company_tags=driver.find_elements(By.XPATH, "//a[@class='subTitle ellipsis fleft']")
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="569c4d43-af45-4e79-87de-45161b9dcfa3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="eed4bfd6-6992-486b-8db6-783b2792bc22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="1ee62434-bb62-4a87-af06-6f2bee3447c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="9bb458a7-c6d6-4d13-9125-9a641694d9fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="716347ed-f34b-4008-a581-87a8ee11b665")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="e5ea7502-427f-4d68-8967-cd02c0dd464b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="6ee40666-d19c-4a15-a4ed-fbaf94ef091b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="b352f4ad-444a-4e51-82e9-a2d67db22166")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="42a7c681-215c-43ce-b491-56d76825a5b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="b7450d35-858a-485b-a92e-13e7aff9c3ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="5fd239ec-a339-4b71-b9d3-6cf634f84860")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="d7c876e2-6b23-430c-a5ab-796a6cf7f7e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="9f1a4454-f840-465f-9cdb-cffff3c5396e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="a7f36cd2-d871-4e0f-a42a-46b0e0d2958e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="04405992-69c5-4221-8f5d-06967ebfd9d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="c05484dc-acb4-4cca-9e02-8eef1da86948")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="a4edde6a-d991-40a0-84d7-a7f51a9307aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="f2156835-8ef0-4ea8-9c0d-8201b2869243")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="4af5dfe6-8cea-40a0-bfdd-82e2ddefd2c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="75336c75-00ea-46ec-aaca-0e1aaddd6e79")>]

In [11]:
# Now we will extract the text from the tags by looping over these tags
companies_names=[]

for i in company_tags:
    companies_names.append(i.text)
companies_names[:10]

['Cargill',
 'MeritTrac',
 'Inspira Enterprise India Pvt. Ltd.',
 'Wells Fargo',
 'CGI',
 'Western Digital',
 'Clarivate',
 'Mobile Premier League (MPL)',
 'TeamLease',
 'Accenture']

In [12]:
# so lets extract  all the tags having the experience required data
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience'] //span")
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="925e12ba-bc59-4a3f-9af3-ddf01010d827")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="8f00df76-4772-4781-9d60-972d9aa7f82d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="a57c4dff-e16e-4e26-8060-634a139d6bb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="fffea133-ed05-49e4-bdca-e300198d3a31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="d1b0f90c-83c9-4de8-ac6a-7df2fd595a7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="10763a93-e8ab-4b59-b084-a6103d778d39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="ec9cc184-a4af-429d-8a35-b194083e2501")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="b35bb997-4078-44a9-9ac0-4af9ce0fd9b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="e51d736d-c115-44dd-8e4b-4cd53fd05227")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="0d48a076-1753-4466-a5d5-a11f3397d9df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="f9bb81e7-9cbd-48f9-b2e3-007863a48488")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="58e7df49-f6d1-4442-a80a-e62ee1ff4016")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="366aeff0-2b9c-45c6-be3d-82f4cf2eee9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="4ed7f4f3-2a79-4a27-b6f1-98570348f2e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="97bc6dbe-a97f-4a3d-a719-19952908ca9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="afdcae76-f6e1-4d50-a661-9661e60da26a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="b57df099-5395-4cad-9737-bb8890bdf1ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="ab826838-29a7-419a-bd9e-e833d3023b20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="d2537fd9-cf6e-4117-a52d-3fba5b53ba46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="bd87b937-d8bf-44d4-9aef-6710b06bf49e")>]

In [13]:
# no we will extract the text  from these tags only by one by looping over these tags
experience_list=[]
for i in experience_tags:
    experience_list.append(i.text)
experience_list[:10]

['3-5 Yrs',
 '9-14 Yrs',
 '3-4 Yrs',
 '5-7 Yrs',
 '3-6 Yrs',
 '6-8 Yrs',
 '3-4 Yrs',
 '4-7 Yrs',
 '5-8 Yrs',
 '6-8 Yrs']

In [14]:
locations_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']/span")
locations_tags

[<selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="53a212b7-5c09-4593-97ed-7c8aed4754dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="87fc774d-8076-4c18-a722-88f22e7b2787")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="1368e86b-925a-4cf8-aea2-d68cebff9c3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="33dece8c-1266-4c8e-ad3f-20711674f460")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="4525795d-77d9-4076-a67b-3531cb47ab11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="a439af89-2d09-400d-82e5-bd99a6e905d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="78a8966b-e11b-4362-8939-f054b09ae855")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="a6e4723b-f1f1-48eb-9e94-d3b741a7413f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="03e34c4c-cdd5-4bfd-aefd-3491fbc8fe57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="d1201bed-d7af-47c1-b31c-da5e3c34414e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="865613de-21fa-4eca-9ef9-8b66c3130d1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="d48b1e3c-8b5a-4651-9608-03399fb6385a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="a3950367-f36a-41a7-9b03-5922b82b98e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="1e5a9c7e-292e-43ec-900e-db2afee55180")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="db6d248c-fbc6-4c6f-ac89-71dd900f8aed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="398105fb-46cb-4f61-a5cc-c0f4aa38c0b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="5933935a-7d9a-440a-88b5-a02c32e983fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="ba2851ec-ce9b-4f78-93b0-a9bb4d7c86fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="65e92d94-2bd7-4a5f-8a7a-259aa9e2c418")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f5919d733a45ae525de3dc7e85afb62", element="531cd389-2991-4f0f-aa05-cca78077e70f")>]

In [15]:
locations_list=[]
for i in locations_tags:
    locations_list.append(i.text)
locations_list[:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [16]:
#So lets check th length of ech element.
print(len(job_titles[:10])),print(len(companies_names[:10])),print(len(experience_list[:10])),print(len(locations_list[:10]))

10
10
10
10

(None, None, None, None)

# Creating a DataFarme for the Data Analyst jobs

In [17]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=companies_names[:10]
jobs['experience_required']=experience_list[:10]
jobs['location']=locations_list[:10]

In [18]:
jobs

,title,company,experience_required,location
0,Data Analyst,Cargill,3-5 Yrs,Bangalore/Bengaluru
1,APRP Manager / Senior Data Analyst - MeritTrac...,MeritTrac,9-14 Yrs,Bangalore/Bengaluru
2,Sr Data Analyst,Inspira Enterprise India Pvt. Ltd.,3-4 Yrs,Bangalore/Bengaluru
3,Senior Data Management Analyst,Wells Fargo,5-7 Yrs,Bangalore/Bengaluru
4,Senior Data Analyst - PLM Data Migration,CGI,3-6 Yrs,Bangalore/Bengaluru
5,People Data Analyst,Western Digital,6-8 Yrs,Bangalore/Bengaluru
6,Associate Healthcare Research & Data Analyst,Clarivate,3-4 Yrs,Bangalore/Bengaluru
7,Lead Data Analyst,Mobile Premier League (MPL),4-7 Yrs,Bangalore/Bengaluru
8,Contractual Hiring For Top MNC || Business Dat...,TeamLease,5-8 Yrs,Bangalore/Bengaluru
9,Master Data Management Business Analyst,Accenture,6-8 Yrs,Bangalore/Bengaluru

We can see that we have created the datset named jobs.

In [19]:
driver.close()

In [20]:
from selenium.common.exceptions import NoSuchElementException

# Ques 2

Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:

1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [21]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\VAIO\Downloads\chromedriver.exe')

In [22]:
url = "https://www.naukri.com"
driver.get(url)

In [23]:
# finding element for job search bar
search_job = driver.find_element(By.XPATH, "//input[@class='suggestor-input ']")
search_job

In [24]:
# write on search bar
search_job.send_keys('Data Scientist')

In [25]:
# finding element for job location bar
search_loc=driver.find_element(By.XPATH, '/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_loc.send_keys("Bangalore")

In [26]:
search_btn= driver.find_element(By.CLASS_NAME, "qsbSubmit")
search_btn.click()

In [27]:
#so let's extract all the tags having the job titles
title_tags=driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_tags:
    print(i.get_attribute('text'))

Analystics & Modeling Specialist
Assistant Manager - Data Science
Senior Data Scientist
Program Manager, Analytics
Data Scientist - Looking For Immediate Joiners
Data Scientist
Senior Data Scientist
Data Scientist - II
Lead ML Scientist
Senior Data Scientist
Python Programming Language Data Science Practitioner
Industry X - Software Engineering
Data Scientist: Artificial Intelligence
ACN - Applied Intelligence - C4DI - Sustainability - 09
Data Scientist
Data Scientist
Data Scientist
ACN - Applied Intelligence - Data Scientist - 09
Data Scientist - 2
Data Scientist

In [28]:
# extract the text of the job title  from the tags
job1_titles=[]
for i in title_tags:
    if i.text is None:
        job1_titles.append('Not')
    else:
        job1_titles.append(i.text)
job1_titles[:10]

['Analystics & Modeling Specialist',
 'Assistant Manager - Data Science',
 'Senior Data Scientist',
 'Program Manager, Analytics',
 'Data Scientist - Looking For Immediate Joiners',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - II',
 'Lead ML Scientist',
 'Senior Data Scientist']

In [29]:
# lets extract all the tags having company names

company_tag = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
company_tag

[<selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="fa82ad20-ec28-40ce-b4f8-caff26821181")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="09bac0e8-5617-4681-9f33-4472b108f643")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="81120254-43c3-41ec-89ed-ff6364561e39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="cf19aae7-ca3e-42a7-9898-febbdb14450f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="3046d0da-c1d0-4a45-a69e-a6d9eab67340")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="98ccd4bb-b97e-4595-a964-63c008efd523")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="ba2b1eb1-e95a-4327-9fee-3dd0d68558e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="7ded232b-72c5-453f-8d44-bd67fcf07da3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="53923f5b-ac27-434d-a5bc-bfc77957987b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="eed83de8-7933-4b65-b5e0-8ec7b7f96cb3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="3509d198-a747-464f-9507-3ab7ef6902b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="e79e8bbf-32dc-47a9-ade8-8eb4fdcec8f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="818c10df-4892-44f5-b2b8-90ee97c9f20d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="b471ff14-4d99-4188-9b70-f54ec8a3df6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="915afce9-59a3-4000-8065-d3fd63df7b65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="db71b6c4-5fed-4afe-81a1-8b3552fae4fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="a76919aa-77b7-47d7-bd33-9cbaa8c395af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="01609661-a184-4ce9-ac9c-5f5674faf349")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="247e7db4-3175-4088-8eee-790c53f2428e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="5d17fed1-c80e-4565-aef5-418c40987559")>]

In [30]:
# Now we will extract the text from the tags by looping over these tags
companies1_names=[]

for i in company_tag:
    companies1_names.append(i.text)
companies1_names[:10]

['Accenture',
 'Citiustech',
 'Wipro',
 'Uber',
 'Wipro',
 'Altair',
 'Boston Consulting Group',
 'Bizongo',
 'Fractal Analytics',
 'Baker Hughes']

In [31]:
# lets extract all the tags having locations
locations_tag=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']/span")
locations_tag

[<selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="7ad09cb2-a451-410d-a673-cfb5cd3e7d6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="da99f1f6-eddf-4750-ba3c-c59754718f1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="e66972a2-451b-4b69-a7e3-04365e9f9fa8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="1c70ea66-42cc-4be4-8d26-a95b4b9f6f53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="263b1175-a335-4174-b3c4-5cbf579c9962")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="b07b21e6-ca95-4819-977b-11741b8b5620")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="07ed171f-ec08-4975-a6e3-c9930ee9dcfa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="07033a91-f577-4049-8c6d-388482fb74bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="3fe561ea-1a51-4ef7-9080-e06719c55657")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="e99a848e-991e-40b5-bd70-5def5104d5f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="48115ef7-b7a5-460a-90bf-6bf8ec5edf31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="abdf8c16-98f1-4d36-8488-75260aeb27d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="08b0aa49-42fe-4b45-8953-8a5e161d9f86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="8636aea9-b589-4a9c-8c49-47f74a0e65f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="160ed52c-4a80-455a-bce5-e5892f1c2fd3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="1fde5c6b-ed32-487d-a6e1-4faa58791254")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="e0513a5b-566f-4720-8388-7e4d4d62285c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="9843e6b9-533f-4918-b906-103622c4d6cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="9c083440-c4ea-4b27-a711-37bb90dabe83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cb9b5cc43f3797369df7679380c0194f", element="0f405f84-e6f4-45c9-8af2-9b5c8b3c4d67")>]

In [32]:
locations1_list=[]
for i in locations_tag:
    locations1_list.append(i.text)
locations1_list[:10]

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Hybrid - Bangalore/Bengaluru, Mumbai, Pune',
 'Hybrid - Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Hyderabad/Secunderabad',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Mumbai, New Delhi, Chennai',
 'Bangalore/Bengaluru, India, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru, Mumbai']

In [33]:
print(len(job1_titles[:10])),print(len(companies1_names[:10])),print(len(locations1_list[:10]))

10
10
10

(None, None, None)

# Creating a dataframe for the Data Analyst Jobs

In [34]:
job1=pd.DataFrame({})
job1['title']=job1_titles[:10]
job1['company_name']=companies1_names[:10]
job1['location']=locations1_list[:10]

In [35]:
job1

,title,company_name,location
0,Analystics & Modeling Specialist,Accenture,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
1,Assistant Manager - Data Science,Citiustech,"Hybrid - Bangalore/Bengaluru, Mumbai, Pune"
2,Senior Data Scientist,Wipro,"Hybrid - Bangalore/Bengaluru, Pune, Chennai"
3,"Program Manager, Analytics",Uber,Bangalore/Bengaluru
4,Data Scientist - Looking For Immediate Joiners,Wipro,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund..."
5,Data Scientist,Altair,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P..."
6,Senior Data Scientist,Boston Consulting Group,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai"
7,Data Scientist - II,Bizongo,"Bangalore/Bengaluru, India, Mumbai (All Areas)"
8,Lead ML Scientist,Fractal Analytics,"Bangalore/Bengaluru, Mumbai"
9,Senior Data Scientist,Baker Hughes,"Bangalore/Bengaluru, Mumbai"

So here we can see that we have created the dataset for Data scientist jobs named job1.

In [36]:
driver.close()

# Ques 3

Q3: In this question you have to scrape data using the filters available on the 
webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:

1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [37]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\VAIO\Downloads\chromedriver.exe')

In [38]:
url = "https://www.naukri.com"
driver.get(url)

In [39]:
# finding element for job search bar
search_job = driver.find_element(By.CLASS_NAME, 'suggestor-input ')
search_job

In [40]:
# write on search bar
search_job.send_keys('Data Scientist')

In [41]:
# clicking using xpath function
search_btn= driver.find_element(By.XPATH, "//div[@class='qsbSubmit']")
search_btn.click()

In [43]:
# filtering by clicking the checkbox of Delhi/NCR
driver.find_element(By.XPATH, '/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i').click()

In [44]:
# filtering by clicking the checkbox of 3-6 Lakhs
driver.find_element(By.XPATH, '/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i').click()

In [45]:
#so let's extract all the tags having the job titles
title_t1=driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_t1:
    print(i.get_attribute('text'))

Data Scientist
DigitalBCG GAMMA Data Scientist
Urgent hiring For Data Scientist (PHD Must Have)
Manager - Data Science - Banking&Financial Services - IIM/ISB/MDI/FMS
Data Scientist / Sr. Data Scientist
Data Scientist
Data Scientist
Data Scientist
Data scientist- Python
Data Scientist
Senior Data Scientist - Python (f/m/x)

In [46]:
# extract the text of the job title  from the tags
job_titles=[]
for i in title_t1:
    if i.text is None:
        job_titles.append('Not')
    else:
        job_titles.append(i.text)
job_titles[:10]

['Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Urgent hiring For Data Scientist (PHD Must Have)',
 'Manager - Data Science - Banking&Financial Services - IIM/ISB/MDI/FMS',
 'Data Scientist / Sr. Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data scientist- Python',
 'Data Scientist']

In [47]:
# lets extract all the tags having company names
company_t1 = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
company_t1

[<selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="70160c43-d542-4e70-a2e5-7c08efac4a3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="3eaf049c-96e5-4dd9-a762-c57614f1cb95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="162dfd68-cc43-49a8-9b40-0163ef7cf77a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="8d4d088f-5583-416b-b4c7-e420258f6309")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="fc56503c-e59a-476d-a45a-2b6ec9e239db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="f9cfbad3-fc5c-41a3-8e7b-de77176696b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="14c7ddbe-4cc2-4426-a089-7331eb402769")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="15d58928-15b6-415a-ad02-088b80a2f0f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="fdaa8396-62a8-4cd0-932c-a7760416ad57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="9d964797-d1f6-4d00-bcdd-92f1f33fd2de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="fe28a3ee-fcf5-4ca9-bbfd-50fe207dbd19")>]

In [48]:
# Now we will extract the text from the tags by looping over these tags
companies_names=[]

for i in company_t1:
    companies_names.append(i.text)
companies_names[:10]

['HCLTech',
 'Boston Consulting Group',
 'NGI Ventures',
 'Black Turtle',
 'Wegarner Solutions',
 'torcai digital media',
 'Meon Technologies',
 'Alliance Recruitment Agency',
 'TeamPlus Staffing Solution Pvt Ltd',
 'Razor Group GmbH']

In [49]:
# so lets extract  all the tags having the experience required data
experience_t1=driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi experience'] /span")
experience_t1

[<selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="f2749f1f-64c9-4ed2-9d18-7425d6be099d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="6f3d7392-aad1-4451-b6d5-696cd5591a8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="9e2c6ccc-5dfe-4e47-b1d5-2a502b194acf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="3f4be4d3-0016-413b-8f50-fbe77b5ddf07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="a8798c5f-e2e7-4999-9f57-1ce88242d606")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="8e4f7930-6f0f-4060-b17c-e2ba1037ba3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="140d3c6e-ca05-440b-b7d7-a1527bfe8017")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="4d0ecac4-85f6-4d09-b053-749e85c3f8f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="e0eb1635-c989-456c-bc8b-bf1fbfa88ede")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="3e33d2d7-4c24-496e-bce9-ff00a25af16b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="329ded09-8d66-465b-ad04-a22fcb84081a")>]

In [50]:
# no we will extract the text  from these tags only by one by looping over these tags
experience_list=[]
for i in experience_t1:
    experience_list.append(i.text)
experience_list[:10]

['4-9 Yrs',
 '2-5 Yrs',
 '0-4 Yrs',
 '4-8 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '3-4 Yrs',
 '3-6 Yrs',
 '2-3 Yrs']

In [51]:
# So lets extract all the tags having locations
locations_t1=driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']/span")
locations_t1

[<selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="53d265ce-17f9-4c84-9502-f2c2ac496673")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="f9eab344-2055-48c0-9ca0-60f539534a0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="fb47403b-6d77-4e4b-a9da-335f37283f4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="6ea69688-68cb-41bc-b45c-1141be2bfb6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="fbec85a3-adb3-4c07-9db7-0092e5708065")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="dfa8450b-1c14-4ba1-830c-8accd53c78e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="05ad0426-f8a2-4c2c-8d68-5df7d99ccac6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="115ff01e-c4b9-4294-a70b-879c01740097")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="31bd9c3a-47c7-43ea-86c6-dccabda8008f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="122205f4-9785-4eb2-9b0e-16cc678965bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="48ac3dbdfdd2692e16e9db2f86afda68", element="7171b1b1-c7a8-4cfe-b8ab-aab4d8b96f43")>]

In [52]:
#Now we wil extract the text from these tags only by one by looping over these tags
locations_list=[]
for i in locations_t1:
    locations_list.append(i.text)
locations_list[:10]

['Noida, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Temp. WFH - Noida, Pune',
 'Delhi / NCR, Bangalore/Bengaluru',
 'Temp. WFH - Noida',
 'Dehradun, Hyderabad/Secunderabad, Gurgaon/Gurugram',
 'Noida',
 'Noida',
 'Gurgaon/Gurugram',
 'New Delhi']

In [53]:
#So lets check th length of ech element.
print(len(job_titles[:10])),print(len(companies_names[:10])),print(len(experience_list[:10])),print(len(locations_list[:10]))

10
10
10
10

(None, None, None, None)

# Creating a DataFarme for the Data Analyst jobs

In [54]:
jobs2=pd.DataFrame({})
jobs2['title']=job_titles[:10]
jobs2['company']=companies_names[:10]
jobs2['experience_required']=experience_list[:10]
jobs2['location']=locations_list[:10]

In [55]:
jobs2

,title,company,experience_required,location
0,Data Scientist,HCLTech,4-9 Yrs,"Noida, Hyderabad/Secunderabad, Chennai, Bangal..."
1,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
2,Urgent hiring For Data Scientist (PHD Must Have),NGI Ventures,0-4 Yrs,"Temp. WFH - Noida, Pune"
3,Manager - Data Science - Banking&Financial Ser...,Black Turtle,4-8 Yrs,"Delhi / NCR, Bangalore/Bengaluru"
4,Data Scientist / Sr. Data Scientist,Wegarner Solutions,3-8 Yrs,Temp. WFH - Noida
5,Data Scientist,torcai digital media,2-7 Yrs,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru..."
6,Data Scientist,Meon Technologies,2-5 Yrs,Noida
7,Data Scientist,Alliance Recruitment Agency,3-4 Yrs,Noida
8,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs,Gurgaon/Gurugram
9,Data Scientist,Razor Group GmbH,2-3 Yrs,New Delhi

We can see that we have created the dataset named jobs2.

In [56]:
driver.close()

# Ques4

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [57]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\VAIO\Downloads\chromedriver.exe')

In [58]:
url="https://www.flipkart.com/"
driver.get(url)

In [59]:
# closing the login popup window
driver.find_element(By.XPATH, '/html/body/div[2]/div/div/button').click()

In [60]:
# finding element for job search bar
search_g= driver.find_element(By.XPATH, "//input[@type='text']")
search_g

In [61]:
# write on search bar
search_g.send_keys('sunglasses')

In [62]:
search_btn=driver.find_element(By.CLASS_NAME, '_34RNph')
search_btn.click()

In [63]:
B_name=[]
Price=[]
P_desc=[]

for i in range(3):
    b_name=driver.find_elements(By.XPATH, "//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH, "//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH, "//div[@class='_30jeq3']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
       
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
      
    for l in price:
        Price.append(l.text)
    Price[:100]

In [64]:
Price[:100]

['₹1,399',
 '₹227',
 '₹649',
 '₹519',
 '₹209',
 '₹629',
 '₹265',
 '₹299',
 '₹579',
 '₹149',
 '₹426',
 '₹474',
 '₹199',
 '₹265',
 '₹519',
 '₹283',
 '₹1,399',
 '₹575',
 '₹649',
 '₹176',
 '₹474',
 '₹190',
 '₹251',
 '₹649',
 '₹559',
 '₹197',
 '₹379',
 '₹379',
 '₹185',
 '₹649',
 '₹699',
 '₹222',
 '₹474',
 '₹323',
 '₹939',
 '₹318',
 '₹249',
 '₹296',
 '₹579',
 '₹499',
 '₹1,399',
 '₹227',
 '₹649',
 '₹519',
 '₹209',
 '₹629',
 '₹265',
 '₹299',
 '₹579',
 '₹149',
 '₹426',
 '₹474',
 '₹199',
 '₹265',
 '₹519',
 '₹283',
 '₹1,399',
 '₹575',
 '₹649',
 '₹176',
 '₹474',
 '₹190',
 '₹251',
 '₹649',
 '₹559',
 '₹197',
 '₹379',
 '₹379',
 '₹185',
 '₹649',
 '₹699',
 '₹222',
 '₹474',
 '₹323',
 '₹939',
 '₹318',
 '₹249',
 '₹296',
 '₹579',
 '₹499',
 '₹1,399',
 '₹227',
 '₹649',
 '₹519',
 '₹209',
 '₹629',
 '₹265',
 '₹299',
 '₹579',
 '₹149',
 '₹426',
 '₹474',
 '₹199',
 '₹265',
 '₹519',
 '₹283',
 '₹1,399',
 '₹575',
 '₹649',
 '₹176']

In [65]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100]))

100
100
100

(None, None, None)

# Creating a dataframe of the above data

In [66]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]

In [67]:
sun_gl

,Brand_name,P_price,Pr_desc
0,RESIST EYEWEAR,"₹1,399","Polarized, Riding Glasses, UV Protection Wayfa..."
1,DEXENT COLLECTION,₹227,UV Protection Oval Sunglasses (Free Size)
2,Fastrack,₹649,UV Protection Wayfarer Sunglasses (Free Size)
3,Fastrack,₹519,UV Protection Rectangular Sunglasses (Free Size)
4,PIRASO,₹209,UV Protection Rectangular Sunglasses (52)
...,...,...,...
95,SUNBEE,₹283,"UV Protection, Polarized Wayfarer Sunglasses (..."
96,Resist,"₹1,399","Toughened Glass Lens, UV Protection, Riding Gl..."
97,Singco India,₹575,"Gradient, Toughened Glass Lens, UV Protection ..."
98,Fastrack,₹649,UV Protection Shield Sunglasses (Free Size)
99,Elligator,₹176,"UV Protection Cat-eye, Retro Square, Oval, Rou..."

We can see that we have created the dataframe.

In [68]:
driver.close()

## Ques 5

Scrape 100 reviews data from flipkart.com for iphone11 phone. 
You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:

1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [69]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\VAIO\Downloads\chromedriver.exe')

In [70]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART"
driver.get(url)

In [78]:
Rating = []
R_Summary = []
Review = []

for i in range(10):
    rating = driver.find_elements(By.XPATH, "//div[@class='_3LWZlK _1BLPMq']")
    summary = driver.find_elements(By.XPATH, "//p[@class='_2-N8zT']")
    review = driver.find_elements(By.XPATH, "//div[@class='t-ZTKy']/div")
    for j in rating:
        if j.text is None:
            Rating.append('Nil')
        else:
            Rating.append(j.text)
    for k in summary:
        if k.text is None:
            R_Summary.append('Nil')
        else:
            R_Summary.append(k.text)
    for l in review:
        if l.text is None:
            Review.append('Nil')
        else:
            Review.append(l.text)

In [80]:
print(len(Rating[:100])),print(len(R_Summary[:100])),print(len(Review[:100]))

100
100
100

(None, None, None)

## Creating a dataframe of the above data

In [83]:
iphone_rev = pd.DataFrame({})
iphone_rev['Rating'] = Rating[:100]
iphone_rev['Rev_Summary'] = R_Summary[:100]
iphone_rev['Full_Review'] = Review[:100]

In [84]:
iphone_rev

   Rating       Rev_Summary                                        Full_Review
0       4       Good choice  Looking so good 👍 😍 super 👌 stylish 😎 phone\nC...
1       5         Just wow!  Best in class. Battery backup is good especial...
2       5            Super!  It’s been 7 years I was waiting for an income ...
3       5    Classy product  We are on apple ecosystem for almost eight yea...
4       5  Perfect product!  Battery backup is extraordinary, camera is dec...
..    ...               ...                                                ...
95      4      Nice product  Awesome Phone. Slightly high price but worth. ...
96      5         Brilliant  I have migrated from OP 7pro... and trust me, ...
97      5         Must buy!  It’s an amazing product from apple and the cam...
98      5     Great product  Again back to apple iphone after a gap of 2-3 ...
99      5    Classy product  Superb Product !!!\nA big and worthy upgrade f...

[100 rows x 3 columns]

We can see that we have created the dataframe.

In [85]:
driver.close()

## Ques 6

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:

1. Brand
2. Product Description
3. Price
4. discount %

In [86]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\VAIO\Downloads\chromedriver.exe')

In [87]:
url="https://www.flipkart.com/"
driver.get(url)

In [88]:
# closing the login popup window
driver.find_element(By.XPATH, '/html/body/div[2]/div/div/button').click()

In [89]:
# finding element for job search bar
search_g= driver.find_element(By.XPATH, "//input[@type='text']")
search_g

In [90]:
# write on search bar
search_g.send_keys('sneakers')

In [94]:
search_btn=driver.find_element(By.XPATH, "//button[@class='L0Z3Pu']")
search_btn

In [95]:
search_btn=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.click()

In [98]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [99]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH, "//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH, "//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH, "//div[@class='_30jeq3']")
    discount=driver.find_elements(By.XPATH, "//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [100]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

# Creating a dataframe of the above data

In [101]:
sneakers=pd.DataFrame({})
sneakers['Brand_name']=B_name[:100]
sneakers['Product_description']=P_desc[:100]
sneakers['Product_price']=Price[:100]
sneakers['Product_discount']=Discount[:100]

In [102]:
sneakers

,Brand_name,Product_description,Product_price,Product_discount
0,VENDOZ,Stylish Sneakers For Women,₹499,50% off
1,VENDOZ,Stylish Sneakers For Women,₹498,50% off
2,RED TAPE,Sneakers For Men,"₹1,149",77% off
3,Labbin,Sneakers For Men,₹395,60% off
4,Robbie jones,Sneakers For Men,₹349,65% off
...,...,...,...,...
95,PUMA,Exclusive Sneaker Shoes Sneakers For Men,"₹2,020",42% off
96,VENDOZ,Sneakers For Women,₹499,50% off
97,WARMFEET,Sneakers For Men,₹616,52% off
98,BRUTON,"Trendy-21 White Color Change Sneakers,Casuals,...",₹324,75% off
99,Deals4you,Sneakers For Men,₹363,63% off

We have created the dataframe

In [103]:
driver.close()

## Ques 8

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7”

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:

1. Title
2. Ratings
3. Price

In [136]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\VAIO\Downloads\chromedriver.exe')

In [137]:
url=" https://www.amazon.in "
driver.get(url)

In [138]:
# finding element for search bar
search_g= driver.find_element(By.XPATH, "//input[@type='text']")
search_g

In [139]:
# write on search bar
search_g.send_keys('Laptop')

In [141]:
# Click on search button
search_btn=driver.find_element(By.XPATH, "//input[@id='nav-search-submit-button']")
search_btn.click()

In [142]:
# Click on the checkbox for filtering
driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[5]/li[14]/span/a/div/label/i').click()

In [172]:
Title=[]
Price=[]
Rating=[]

for i in range(5):
    name=driver.find_elements(By.XPATH, "//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a/span")
    rating=driver.find_elements(By.XPATH, "//span[@class='a-declarative']/a/i/span")
    price =driver.find_elements(By.XPATH, "//span[@class='a-price']")
    
    for j  in name:
        Title.append(j.text)
    Title[:100]    
    
    for k in rating:
        if k.text is None:
            Rating.append('No Ratings Available')
        else:
            Rating.append(k.text)
    Rating[:100] 
    
    for l in price:
        Price.append(l.text)
    Price[:100]

In [173]:
print(len(Title[:100])),print(len(Price[:100])),print(len(Rating[:100]))

100
100
100

(None, None, None)

## Create a dataframe

In [161]:
laptop=pd.DataFrame({})
laptop['Item_name']=Title[:100]
laptop['Product_rating']=Rating[:100]
laptop['Product_price']=Price[:100]

laptop

,Item_name,Product_rating,Product_price
0,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,,"₹80,490"
1,"HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...",,"₹93,999"
2,Samsung Galaxy Book2 Intel 12th Gen core i7 39...,,"₹79,207"
3,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,,"₹77,990"
4,(Renewed) HP ProBook 430 G3 6th Gen Intel Core...,,"₹25,895"
...,...,...,...
95,,,
96,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,,"₹80,490"
97,"HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...",,"₹93,999"
98,Samsung Galaxy Book2 Intel 12th Gen core i7 39...,,"₹79,207"
99,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,,"₹77,990"

Rating column is coming blank ** Need clarification

In [ ]:
driver.close()

## Ques 9

Q9: Write a python program to scrape data for Top 1000 Quotes of All Time. The above task will be done in following steps:

1. First get the webpage https://www.azquotes.com/
2. Click on Top Quotes
3. Then scrap :
    * Quote 
    * Author 
    * Type Of Quote

In [177]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\VAIO\Downloads\chromedriver.exe')

In [178]:
url="https://www.azquotes.com/"
driver.get(url)

In [179]:
# Selecting top quotes
top_quote = driver.find_element(By.XPATH, '//a[@href="/top_quotes.html"]')
top_quote.click()

In [184]:
Quotes = []
Author = []
Quote_Type = []

for i in range(10):
    quote_tag = driver.find_elements(By.XPATH, '//a[@class="title"]')
    author_tag = driver.find_elements(By.XPATH, '//div[@class="author"]/a')
    type_tag = driver.find_elements(By.XPATH, '//div[@class="tags"]')
    
    for j in quote_tag:
        Quotes.append(j.text)
    
    for k in author_tag:
        Author.append(k.text)
    
    for l in type_tag:
        Quote_Type.append(l.text)

In [185]:
print(len(Quotes)),print(len(Author)),print(len(Quote_Type))

1000
1000
1000

(None, None, None)

## Create a DataFrame

In [187]:
Quotations = pd.DataFrame({})
Quotations['Quotes'] = Quotes
Quotations['Author'] = Author
Quotations['Quote_Type'] = Quote_Type

Quotations

,Quotes,Author,Quote_Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
998,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [188]:
driver.close()

## Ques 10

Q10: Write s python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.

This task will be done in following steps:

1. First get the webpage https://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame.

In [189]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\VAIO\Downloads\chromedriver.exe')

In [190]:
url = "https://www.jagranjosh.com/"
driver.get(url)

In [193]:
# Selecting GK
gk = driver.find_element(By.XPATH, '/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [194]:
# Selecting the 'List of all Prime Minister of India' section
prime_min = driver.find_element(By.XPATH, '/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
prime_min.click()

In [218]:
data = []
S_no = []
Name = []
Born_Dead = [] 
Term = []
Remark = []

data_tag = driver.find_elements(By.XPATH, '//td[@valign="top"]')

for i in data_tag:
    data.append(i.text)

S_no = [data[i] for i in range(0, len(data),5)]
Name = [data[i] for i in range(1, len(data),5)]
Born_Dead = [data[i] for i in range(2, len(data),5)]
Term = [data[i] for i in range(3, len(data),5)]
Remark = [data[i] for i in range(4, len(data),5)]

In [219]:
print(len(S_no)),print(len(Name)),print(len(Born_Dead)),print(len(Term)),print(len(Remark))

17
17
17
17
17

(None, None, None, None, None)

## Create DataFrame

In [221]:
prime_minister = pd.DataFrame({})
prime_minister['Serial_Number'] = S_no
prime_minister['Name'] = Name
prime_minister['Born_Dead'] = Born_Dead
prime_minister['Term_Tenure'] = Term
prime_minister['Remarks'] = Remark

prime_minister

,Serial_Number,Name,Born_Dead,Term_Tenure,Remarks
0,1.,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,2.,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,3.,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,5.,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
4,6.,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
5,7.,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
6,8.,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
7,9.,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
8,10.,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
9,11.,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
10,12.,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
11,13.,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
12,14.,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
13,15.,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
14,16.,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
15,17.,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
16,18.,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

Serial number 4 is not captured as "4.&nbsp"

In [222]:
driver.close()

## Ques 11

Q11: Write s python program to display list of 50 Most expensive cars in the world (i.e. Company name, Model name and Price) from https://www.motor1.com/

This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on left side.
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe

In [223]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\VAIO\Downloads\chromedriver.exe')

In [224]:
url = "https://www.motor1.com/"
driver.get(url)

In [225]:
# Selecting Hamburger menu
menu = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div/div/div[1]/div')
menu.click()

In [226]:
# Selecting the List section from the menu
list = driver.find_element(By.XPATH, '/html/body/div[3]/div[1]/div[3]/ul/li[4]/a')
list.click()

In [227]:
# Selecting the article for 50 most expensive cars
exp_car = driver.find_element(By.XPATH, '/html/body/div[2]/div[9]/div[1]/div[1]/div/div/div[1]/div/div[1]/h3/a')
exp_car.click()

In [228]:
driver.find_element(By.XPATH, '/html/body/div[13]/div[2]/div').click()

In [245]:
Car = []
car_tag = driver.find_elements(By.XPATH, '//h3[@class="subheader"]')
for i in car_tag:
    Car.append(i.text)
    
Car.pop(-1)    # Popping the last element from the Car List 
               # as the last element contains unwanted value: 'Most Expensive Cars In The World'
    
Car

['Drako GTE',
 'De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [238]:
Price = []
price_tag = driver.find_elements(By.XPATH, '//p/strong')
for i in price_tag:
    Price.append(i.text)
    
Price.pop(4)   # popping out the value " " from index 4 of the Price List

Price

['Price: $1.2 Million',
 'Price: $1.3 Million',
 'Price: $1.4 Million',
 'Price: $1.4 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million*',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.5 Million',
 'Price: $3.6 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million',
 'Price: $28.0 Million (est.)']

Car name could not be splitted into manufacturer name and model name as it is the single element and many manufacturer contains single word, for ex., Ferrari, Koenigsegg and many manufacturer contains 2 or more words, for ex., Gordon Murray, Aston Martin, etc.

## Creating Dataframe

In [244]:
car_det = pd.DataFrame({})

car_det['Car Name'] = Car[:0:-1]
car_det['Price'] = Price[:0:-1]

car_det

                           Car Name                        Price
0            Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)
1          Bugatti La Voiture Noire         Price: $13.4 Million
2              Rolls-Royce Sweptail         Price: $12.8 Million
3                Bugatti Centodieci          Price: $9.0 Million
4          Mercedes-Maybach Exelero          Price: $8.0 Million
5                  Pagani Codalunga          Price: $7.4 Million
6               SP Automotive Chaos          Price: $6.4 Million
7                      Bugatti Divo          Price: $5.8 Million
8               Pagani Huayra Imola          Price: $5.4 Million
9                   Bugatti Mistral          Price: $5.0 Million
10                   Bugatti Bolide          Price: $4.7 Million
11               Lamborghini Veneno          Price: $4.5 Million
12  Bugatti Chiron Super Sport 300+          Price: $3.9 Million
13                 Koenigsegg CC850          Price: $3.7 Million
14                 Lamborghini Sian          Price: $3.6 million
15         Bugatti Chiron Pur Sport          Price: $3.6 Million
16        Pagani Huayra Roadster BC          Price: $3.5 Million
17                    McLaren Solus                 $3.5 Million
18        W Motors Lykan Hypersport          Price: $3.4 Million
19            Aston Martin Valkyrie          Price: $3.2 Million
20                 Koenigsegg Jesko          Price: $3.0 Million
21      Hennessey Venom F5 Roadster                 $3.0 Million
22              Aston Martin Victor          Price: $3.0 Million
23         Mercedes-AMG Project One          Price: $2.7 Million
24             Lamborghini Countach          Price: $2.6 Million
25               Gordon Murray T.50          Price: $2.6 Million
26                Ferrari FXX K Evo          Price: $2.6 Million
27             Pininfarina Battista          Price: $2.5 Million
28                    Pagani Utopia          Price: $2.5 Million
29                     Rimac Nevera          Price: $2.4 Million
30                McLaren Speedtail          Price: $2.3 Million
31                       Delage D12          Price: $2.3 Million
32              Aston Martin Vulcan          Price: $2.3 Million
33                      Lotus Evija          Price: $2.1 Million
34                      SSC Tuatara         Price: $2.0 Million*
35                     Deus Vayanne          Price: $2.0 Million
36           Bentley Mulliner Batur          Price: $2.0 Million
37    Hispano Suiza Carmen Boulogne          Price: $1.9 Million
38                  Bentley Bacalar          Price: $1.9 Million
39               Hennessey Venom F5          Price: $1.8 Million
40                      Zenvo TSR-S          Price: $1.7 Million
41                Koenigsegg Gemera          Price: $1.7 Million
42               Gordon Murray T.33          Price: $1.7 Million
43                    Ferrari Monza          Price: $1.7 Million
44                      Czinger 21C          Price: $1.7 Million
45                     McLaren Elva          Price: $1.7 Million
46                    Pagani Huayra          Price: $1.4 Million
47                Ferrari LaFerrari          Price: $1.4 Million
48                    De Tomaso P72          Price: $1.3 Million

The dataframe is in descending order, i.e., price is from highest to lowest